<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Create New Customer</title>
</head>
<body>

<div class="container mt-5">
    <h1 class="mb-4">Create New Customer</h1>

    <form method="post" id="create-customer-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Customer</button>
    </form>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
